:root{
	--grid-width:114rem;
	--gutter-vertical: 8rem;
	--gutter-horizontal:6rem;
}

html{
	font-size: 10px; 
}

.row:after{
	content: "";
	display: table;
	clear: both;}

*,*after,*::before{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

.row {
	max-width: 114rem;
	background-color: #eee;
	margin: 0 auto;
}

.row:not(:last-child){
	margin-bottom: 8rem;
}

.col-1-of-2{
	width: calc((100% - 6rem)/2);

}

.col-1-of-2:not(:last-child){
	margin-right: 6rem;
}

.col-1-of-3{
	width: calc((100% - 12rem)/3);
}

.col-1-of-2:not(:last-child){
	margin-right: 6rem;
}


.col-2-of-3{
	width: calc((100% - 6rem) - (100% - 12rem)/3);
}

.col-1-of-4{
	width: calc((100% - 18rem)/4);
}

.col-2-of-4{
	width: calc((100% - 12rem) - (100% - 18rem)/2);
}

.col-3-of-4{
	width: calc((100% - 6rem) - (100% - 18rem)/4);
}

[class^="col-"]{
	background-color: red;
	float:left;
	margin-bottom:;
}

[class^="col-"]:not(:last-child){
 margin-right: var(--gutter-horizontal);
}